.add-note-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.add-note-text-input {
  font-size: 22px;
  padding-left: 15px;
  width: 90%;
}

.add-note-add-btn {
  background-color: rgb(42, 199, 14);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 30%;
}
